:root{
    --dark: black;
    --light: white;
    --purple: purple;
    --grey: grey;
    --blue: blue; 
    --aquamarine: aquamarine;
    --thecolor: #f6f8fa;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--thecolor)
}

/* Start of the Header Section*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: var(--dark);
    color: var(--thecolor);
}

header:hover {
    transition-delay: 150ms;
    color:var(--grey)
}

h1 {
    display: inline-block;
    font-size: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
}

nav a {
    color: var(--purple);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color:var(--grey)
}
/* End of the header section*/

main {
    display: flex;
    max-width: 90%;
    margin: 2% auto;
    font-family: Times 'Times New Roman', Times, serif;
}


main header {
background: var(--dark)
}

h2 {
    margin: 2% 0;
    font-size: 200%;
}

.Projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 90%;
    height:100vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
   /*width: 75%;
   display: inline-flexbox;
   margin-left: 25px; */
}

.Projects header {
    background-color: var(--thecolor);
    color: var(--dark);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}

.Projects a:hover {
    color: var(--blue)
}
    .flex-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    }


.largebox{
    border-style: solid;
    border-width: 10px;
    padding: 70px 0;
    margin: auto;
    width: 75;
    flex: 2;
}

.largebox img {
    width: 900px;
    height: 800px;
    margin: auto;
    display: block;
} 

.box{
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: auto;
    width: 50;
    flex: 1;
}

.box img {
    width: 600px;
    height: 500px;
    margin: auto;
    display: block;
}


/* footer section */

footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align:left;
    background: var(--dark);
    color: var(--light);
    margin-top: auto;
}

footer li {
    text-align: right;
    color: var(--light);
}

@media screen and (max-width:780px){
    main,
    nav{
        flex-direction: column;
    }    
}